In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('Churn_Modelling.csv')

In [3]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [5]:
df.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [6]:
df=df.drop(['RowNumber','Surname','CustomerId'],axis=1)

In [7]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [8]:
states=pd.get_dummies(df['Geography'],drop_first=True)
gender=pd.get_dummies(df['Gender'],drop_first=True)

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
X=df[['CreditScore','Age','Tenure','Balance','NumOfProducts','HasCrCard','IsActiveMember','EstimatedSalary']]
y=df['Exited']

In [11]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25)

In [12]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()

In [13]:
X_train = sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [14]:
# building a classifier model using keras
import keras

c:\users\prati\appdata\local\programs\python\python39\lib\site-packages\requests\__init__.py:102: RequestsDependencyWarning: urllib3 (1.26.8) or chardet (5.1.0)/charset_normalizer (2.0.11) doesn't match a supported version!
  warnings.warn("urllib3 ({}) or chardet ({})/charset_normalizer ({}) doesn't match a supported "

In [15]:
from keras.models import Sequential
from keras.layers import Dense
from keras import layers

In [16]:
model = Sequential()

In [17]:
# input layer
model.add(Dense(8, activation='relu', input_shape=(8,)))

# hidden layers
model.add(Dense(32, activation='relu'))
model.add(Dense(16, activation='relu'))

# output layer
model.add(Dense(1, activation='sigmoid'))

# compiling the model
model.compile(optimizer="adam", loss="binary_crossentropy", metrics=['accuracy'])
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 72

 dense_1 (Dense)             (None, 32)                288

 dense_2 (Dense)             (None, 16)                528

 dense_3 (Dense)             (None, 1)                 17

=================================================================
Total params: 905
Trainable params: 905
Non-trainable params: 0
_________________________________________________________________

In [18]:
model.fit(X_train, y_train, batch_size=7, epochs=10)

Epoch 1/10
1072/1072 [==============================] - 3s 1ms/step - loss: 0.4701 - accuracy: 0.8075
Epoch 2/10
1072/1072 [==============================] - 2s 2ms/step - loss: 0.4027 - accuracy: 0.8345
Epoch 3/10
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3724 - accuracy: 0.8491
Epoch 4/10
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3644 - accuracy: 0.8527
Epoch 5/10
1072/1072 [==============================] - 1s 1ms/step - loss: 0.3599 - accuracy: 0.8539
Epoch 6/10
1072/1072 [==============================] - 2s 1ms/step - loss: 0.3573 - accuracy: 0.8543
Epoch 7/10
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3541 - accuracy: 0.8555
Epoch 8/10
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3538 - accuracy: 0.8556
Epoch 9/10
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3527 - accuracy: 0.8579
Epoch 10/10
1072/1072 [==============================] - 3s 2ms/step - loss: 0.3517 - accuracy: 0.8569

In [19]:
y_pred =model.predict(X_test)
y_pred = (y_pred > 0.5).astype(int)

79/79 [==============================] - 0s 927us/step

In [20]:
from sklearn.metrics import confusion_matrix,accuracy_score,classification_report

In [21]:
print(accuracy_score(y_test,y_pred))

0.8528

In [22]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.87      0.96      0.91      1982
           1       0.74      0.45      0.56       518

    accuracy                           0.85      2500
   macro avg       0.80      0.70      0.73      2500
weighted avg       0.84      0.85      0.84      2500